<div class="page-rss">
  <p>{{lang 'rss.intro'}}</p>

  {{#if urls.rss.blog}}
    <div class="page-rss-group">
      <h2>{{lang 'rss.blog.heading'}}</h2>
      <p>{{lang 'rss.blog.intro' limit=settings.rss_item_limit store=settings.store_name}}</p>
      <ul>
        <li><a href="{{urls.rss.blog}}">{{lang 'rss.blog.rss' limit=settings.rss_item_limit}}</a></li>
        <li><a href="{{urls.rss.blog_atom}}">{{lang 'rss.blog.rss_atom' limit=settings.rss_item_limit}}</a></li>
      </ul>
    </div>
  {{/if}}

  {{#if urls.rss.products.new}}
    <div class="page-rss-group">
      <h2>{{lang 'rss.products_new.heading'}}</h2>
      <p>{{lang 'rss.products_new.intro' limit=settings.rss_item_limit store=settings.store_name}}</p>
      <ul>
        <li><a href="{{urls.rss.products.new}}">{{lang 'rss.products_new.rss' limit=settings.rss_item_limit}}</a></li>
        <li><a href="{{urls.rss.products.new_atom}}">{{lang 'rss.products_new.rss_atom' limit=settings.rss_item_limit}}</a></li>
      </ul>
    </div>
  {{/if}}

  {{#if urls.rss.products.popular}}
    <div class="page-rss-group">
      <h2>{{lang 'rss.products_popular.heading'}}</h2>
      <p>{{lang 'rss.products_popular.intro' limit=settings.rss_item_limit store=settings.store_name}}</p>
      <ul>
        <li><a href="{{urls.rss.products.popular}}">{{lang 'rss.products_popular.rss' limit=settings.rss_item_limit}}</a></li>
        <li><a href="{{urls.rss.products.popular_atom}}">{{lang 'rss.products_popular.rss_atom' limit=settings.rss_item_limit}}</a></li>
      </ul>
    </div>
  {{/if}}

  {{#if urls.rss.products.featured}}
    <div class="page-rss-group">
      <h2>{{lang 'rss.products_featured.heading'}}</h2>
      <p>{{lang 'rss.products_featured.intro' limit=settings.rss_item_limit store=settings.store_name}}</p>
      <ul>
        <li><a href="{{urls.rss.products.featured}}">{{lang 'rss.products_featured.rss' limit=settings.rss_item_limit}}</a></li>
        <li><a href="{{urls.rss.products.featured_atom}}">{{lang 'rss.products_featured.rss_atom' limit=settings.rss_item_limit}}</a></li>
      </ul>
    </div>
  {{/if}}

  {{#if urls.rss.products.search}}
    <div class="page-rss-group">
      <h2>{{lang 'rss.search.heading'}}</h2>
      <p>{{lang 'rss.search.intro1'}}</p>
      <p>{{lang 'rss.search.intro2' store=settings.store_name}}</p>
    </div>
  {{/if}}
</div>
