{{#partial "page"}}

  {{> components/common/breadcrumbs breadcrumbs}}

  <div class="container">
    <aside class="giftcard-sidebar">
      {{> core/gift-certificate/navigation page='redeem'}}
    </aside>

    <section class="giftcard-content">
      <h1 class="giftcard-header">{{lang 'core.giftcard.redeem.heading'}}</h1>
      <p class="giftcard-subheading">{{lang 'core.giftcard.redeem.subheading' store_name=settings.store_name}}</p>
      {{> core/gift-certificate/redeem}}
    </section>
  </div>

{{/partial}}

{{> layout/base}}
