<section class="testimonial-section section">
<div class="container">
<h3	class="section-title">Testimonials</h2>
<section class="testimonial">
	<article>
		<div class="testimonial-block">
			<p>I have been a customer of WheelBuilder for the last 5+ years with many different custom built wheels! I have built Zipp 101s, Zipp 303s, Enve 3.4s, Enve 5.6s and Zipp 30s in rim and disc configuration with hubs ranging from Chris King to Powertaps. Any authorized dealer or bike shop can build wheels, what WheelBuilder brings to the table that separates them from everyone is their depth of knowledge, their service, their quality, their product offerings and their commitment to getting it right and keeping it that way! I have worked with Rich, Lisa and Benny over the years and I have never been disappointed! The WheelBuilder team delivers and they stand behind everything they do. The only thing I want WheelBuilder to do is to sell more bike stuff so I can buy more from them! I am located on east coast and while it takes a little longer in transit, it’s worth it, because it is right when it shows up!! Lifelong customer, Robert.</p>
			<p><strong>Robert, Jun 22, 2018</strong></p>
			<a href="/contact-us/" class="button button-primary button-wide" target="_blank" > <span class="button-text"> Add Your Testimonials</span></a>
		</div>
	</article>
	<article>
		<div class="testimonial-block">
			<p>Great service from Lisa, really quick delivery, awesome wheel build along with an affordable price. I really enjoy the White Industries XMR hubs with Velocity Dyad rims. So far so good the last 1000 miles of touring & trekking. I highly recommend wheelbuilder.com..</p>
			<p><strong>Andy, May 23, 2018</strong></p>
			<a href="/contact-us/" class="button button-primary button-wide" target="_blank" > <span class="button-text"> Add Your Testimonials</span></a>
		</div>
	</article>
	<article>
		<div class="testimonial-block">
			<p>Great experience with wheelbuilder.com. I had a set of ENVE wheels built up with I9 hubs, top quality parts and a skilled build at an incredible price. Not only did I get an excellent deal on a top tier quality product and build but the customer service was outstanding, they helped guide me through my build as far as part selection without just trying to up-sell. Excellent communication thought the process, I9 had a delay in my hub color choice and I was continually updated. Rich, Lisa who worked with me the most, and everyone else I may have spoke to, were amazing. They gained a customer for life.</p>
			<p><strong>Armin Montalvo, Apr 23, 2018</strong></p>
			<a href="/contact-us/" class="button button-primary button-wide" target="_blank" > <span class="button-text"> Add Your Testimonials</span></a>
		</div>
	</article>
	<article>
		<div class="testimonial-block">
			<p>Excellent Service!! 5 Stars!! Had an excellent experience buying for first time with WheelBuilder. Rich help me build an incredible ENVE wheelset. Highly recommend Wheelbuilder!!!</p>
			<p><strong>Bryant, Apr 5, 2018</strong></p>
			<a href="/contact-us/" class="button button-primary button-wide" target="_blank"> <span class="button-text"> Add Your Testimonials</span></a>
		</div>
	</article>
	<article>
		<div class="testimonial-block">
			<p>I ride Ultras (typically 12 hours, sometime solo and sometimes 2-man relay style). The AeroJacket was the perfect solution. I bought a Mavic Ksyrium Elite used and placed the Aerojacket on it.</p>
			<p>It's a great solution for ultras because the spoked wheel offers more comfort over long distances than a carbon disk, yet I get the benefit of aero during the entirety of the race. Personal A/B testing (real world, not lab) has shown coupling the Aerojacket with a tight fitting kit and arrow helmet allows me often squeeze out 1.8-2 mph more over the course of the race than a non-aero set-up. (Regular helmet, spoked wheels, looser training kit).</p>
			<p>I'm a huge fan!</p>		
			<p><strong>Jordan Fowler, Mar 27, 2018</strong></p>
			<a href="/contact-us/" class="button button-primary button-wide" target="_blank" > <span class="button-text"> Add Your Testimonials</span></a>
		</div>
	</article>
	<article>
		<div class="testimonial-block">
			<p>Let me start off with...I'm not a small guy. 6', 240lbs. I wanted better wheels than what came with my Roubaix. I ride mountains roads, I ride on dirt roads, I commute in the cold. I wanted wheels that would do everything. I also wanted durability. I called Wheel Builder, and talked with a sales person. We decided on Belgium rims and Chris King hubs. Even with my upgrades, they still came in cheaper than just about everything else I was looking at, and the build quality is AMAZING. I am more than pleased. Great to work with, and amazing wheels..</p>
			<p><strong>Chris Tretta, Jan 9, 2018</strong></p>
			<a href="/contact-us/" class="button button-primary button-wide" target="_blank" > <span class="button-text"> Add Your Testimonials</span></a>
		</div>
	</article>
</section>
</div>
</section>
