<ul>
  <li class="parent-all"><a href="{{url}}">{{name}}</a></li>
  {{#each children}}
    <li {{#if children}}class="tier-dropdown"{{/if}}>
      <a {{#if children}}class="tier-toggle"{{/if}} href="{{url}}">{{name}}</a>
      {{#if children}}
        <ul class="tier-panel">
          <li class="parent-all"><a href="{{url}}">{{name}}</a></li>
          {{#each children}}
            <li><a href="{{url}}">{{name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>
