<ul class="footer-social-media">
  {{#each links}}
    {{#if display_name '==' 'twitter'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/twitter}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'facebook'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/facebook}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'google+'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/googleplus}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'pinterest'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/pinterest}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'youtube'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/youtube}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'instagram'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/instagram}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'linkedin'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/linkedin}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'tumblr'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/tumblr}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'stumbleupon'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/stumbleupon}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}

    {{#if display_name '==' 'rss'}}
      <li class="social-media-link">
        <a href="{{this.url}}" title="{{this.name}}" target="_blank">
          {{> svg/social/rss}}
          <span class="sr-only">{{this.name}}</span>
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>
