<form class="facet-price {{#if selected}}is-open{{/if}} {{#unless start_collapsed}}is-open{{/unless}}" method="get" data-facet-filter-wrapper data-faceted-search-range>
  {{#each current_selected_items}}
    <input type="hidden" name="{{param_name}}" value="{{param_value}}"/>
  {{/each}}

  <div class="form-field">
    <input
      class="form-input form-input-short"
      name="min_price"
      min="0"
      type="number"
      value="{{min_price}}"
      placeholder="{{lang 'faceted_search.min_price'}}"
      required
    />
  </div>

  <div class="form-field">
    <input
      class="form-input form-input-short"
      name="max_price"
      min="0"
      type="number"
      value="{{max_price}}"
      placeholder="{{lang 'faceted_search.max_price'}}"
      required
    />
  </div>

  <div class="form-actions">
    <button class="button button-tertiary" type="submit">
      {{lang 'faceted_search.update'}}
    </button>
  </div>

</form>
