{{#if brand.faceted_search_enabled}}
  <span class="link faceted-search-toggle" data-faceted-search-toggle>
    {{lang 'faceted_search.toggle'}}
    <span class="facet-list-toggle">
      <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
      <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
    </span>
  </span>
  <div class="faceted-search" data-faceted-search>
    {{#each brand.facets}}
      {{#if visible}}
        {{#if items.length}}
          <div class="facet-list {{display}}" data-facet-filter>

            <h4
              class="facet-list-title {{#unless start_collapsed}}is-open{{/unless}}"
              data-facet-toggle
            >
              {{title}}
              <span class="facet-list-toggle"></span>
            </h4>

            {{{dynamicComponent 'components/faceted-search/facets'}}}

            {{#if remove_url}}
              <a class="link facet-remove" href="{{remove_url}}" data-faceted-search-facet data-facet-remove>{{lang 'faceted_search.clear'}}</a>
            {{/if}}
          </div>
        {{/if}}
        {{#compare facet 'price'}}
          <div class="facet-list {{display}}" data-facet-filter>

            <h4
              class="facet-list-title
              {{#unless start_collapsed}}is-open{{/unless}}"
              data-facet-toggle
            >
              {{title}}
              <span class="facet-list-toggle"></span>
            </h4>

            {{{dynamicComponent 'components/faceted-search/facets'}}}

            {{#if remove_url}}
              <a class="link facet-remove" href="{{remove_url}}" data-faceted-search-facet data-facet-remove>{{lang 'faceted_search.clear'}}</a>
            {{/if}}
          </div>
        {{/compare}}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  {{#if brands}}
    <div class="category-nav facet-list">
      <h5 class="facet-list-title">{{lang 'brand.label'}}</h5>
      <ul class="category-nav-list">
        {{#each brands}}
          <li class="facet-item">
            <a href="{{url}}">{{name}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}
