<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="{{cdn '/assets/js/modernizr.js'}}"></script>

    {{{stylesheet '/assets/css/theme.css'}}}
    {{ getFontsCollection }}

    {{{head.scripts}}}
    {{{head.rsslinks}}}

    {{inject 'themeImageSizes' theme_settings._images}}
    {{> components/global-injects}}

    {{{snippet 'html_head'}}}

    {{> core/structured-data/website}}
  </head>

  <body class="{{> components/common/body-classes}}">

    {{#if page_type '===' 'product'}}
      {{> components/common/facebook-like}}
    {{else if page_type '===' 'blog'}}
      {{> components/common/facebook-like}}
    {{else if page_type '===' 'blog_post'}}
      {{> components/common/facebook-like}}
    {{/if}}

    <div class="icons-svg-sprite">{{> components/common/icons/icon-defs}}</div>
    <div class="site-wrapper">
      {{{snippet 'header'}}}

      {{> components/header/header}}
      <div class="site-canvas">
        <div class="on-canvas">
          {{#contains page_type 'account'}}
            {{> components/common/breadcrumbs breadcrumbs}}
          {{/contains}}
          {{#contains page_type 'login'}}
            {{> components/common/breadcrumbs breadcrumbs}}
          {{/contains}}

          {{> components/common/banners banners=banners.top class='banners-top'}}

          <main class="main-content">
            {{#block "page"}}{{/block}}
          </main>

          {{> components/common/banners banners=banners.bottom class='banners-bottom'}}

          {{#if settings.show_newsletter_box}}
            {{> components/common/newsletter-signup}}
          {{/if}}

          {{> components/footer/footer }}
        </div>

        {{> components/header/navigation-mobile}}
      </div> <!-- /site-canvas -->

      {{> components/mini-cart/mini-cart
        cart_icon=theme_settings.cart_icon
      }}
      {{> components/common/search-panel}}
      <button class="button-top" data-scroll="#">
        <svg class="icon icon-arrow-up"><use xlink:href="#icon-arrow-up" /></svg>
      </button>

      {{> components/common/login-modal}}
    </div> <!-- /site-wrapper -->

    {{> core/structured-data/breadcrumbs}}

    <script src="{{cdn '/assets/js/bundle.js'}}"></script>
    <script>
      window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
    </script>

    {{{footer.scripts}}}
    {{{snippet 'footer'}}}
  </body>
</html>
