<form
  class="form add-to-cart-form"
  method="post"
  action="{{product.cart_url}}"
  enctype="multipart/form-data"
  data-cart-item-add
  data-product-options-count="{{product.options.length}}"
>
  <input type="hidden" name="action" value="add">
  <input type="hidden" name="product_id" value="{{product.id}}" data-product-id/>

  <div class="product-options-container" data-product-option-change>
    {{#if product.customizations}}
      {{#each product.customizations}}
        {{{dynamicComponent 'core/forms/customizations'}}}
      {{/each}}
    {{/if}}

    {{#if product.options}}
      {{#each product.options}}
        {{{dynamicComponent 'core/forms/options'}}}
      {{/each}}
    {{/if}}
  </div>

  {{#if product.event_date}}
    {{> core/products/event}}
  {{/if}}

  <div class="product-quantity-submit">
    <div class="product-quantity-container">
      {{#if product.show_quantity_input}}
        <div class="form-field form-inline">
          <label class="form-label">
            <strong class="form-label-text">{{ lang 'product.quantity'}}</strong>
            <input
              type="text"
              class="product-quantity form-input"
              name="qty[]"
              value="{{#if product.quantity}}{{product.quantity}}{{else}}{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
              min="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}0{{/if}}"
              {{#if product.max_purchase_quantity}}max="{{product.max_purchase_quantity}}"{{/if}}
              pattern="[0-9]+"
            >
            <div class="product-quantity-toggle-wrapper">
              <span class="product-quantity-toggle product-quantity-increment">
                <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
              </span>
              <span class="product-quantity-toggle product-quantity-decrement">
                <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
              </span>
            </div>
          </label>
        </div>
      {{/if}}

      <div class="share-block">
        <span class="form-label-text share-title">{{ lang 'product.share'}}</span>
        {{> components/common/share-buttons
          share_buttons=settings.add_this
          url=product.url
          image=(getImage product.main_image 'thumb')
          title=product.title
        }}
      </div>
    </div>

    {{#if product.can_purchase}}
      <button
        type="submit"
        class="button button-primary button-wide add-to-cart button-progress spinner"
        data-button-purchase
      >
        <span class="button-text">
          {{#if product.pre_order}}
            {{lang 'product.pre_order'}}
          {{else}}
            {{#if cart_icon '==' 'bag'}}
              {{lang 'product.add_to_bag'}}
            {{else}}
              {{lang 'product.add_to_cart'}}
            {{/if}}
          {{/if}}
        </span>
      </button>
    {{else}}
      {{#if product.out_of_stock}}
        <div class="button button-primary button-wide add-to-cart button-disabled">
          {{lang 'product.sold_out'}}
        </div>
      {{/if}}
    {{/if}}

    {{#if settings.show_wishlist}}
      <div class="wishlist-form" data-wishlist-dropdown>
        {{#if customer.wishlists.length}}
          <a class="button button-secondary button-wide add-to-wishlist" href="#" data-wishlist-toggle>
            {{lang 'product.add_to_wishlist'}}
          </a>
          <ul class="add-to-wishlists" data-wishlist-panel>
            {{#each customer.wishlists}}
              <li><a href="{{../product.add_to_wishlist_url}}&wishlistid={{id}}" data-wishlist="{{view_url}}">{{name}} ({{num_items}})</a></li>
            {{/each}}
          </ul>
        {{else}}
          <a class="button button-secondary button-wide add-to-wishlist" href="{{product.add_to_wishlist_url}}">{{lang 'product.add_to_wishlist'}}</a>
        {{/if}}
      </div>
    {{/if}}
  </div>

</form>
