<section class="products-featured">
  <ul class="tabs" data-tabs>
    <li class="tab-title"><a href="#featured-products">Featured Products</a></li>
    <li class="tab-title"><a href="#best-sellers">Best Sellers</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-content-panel" id="featured-products">
      <ul class="product-grid product-carousel">
      {{#each this}}
        <li class="product-grid-item">
          {{> components/products/product-grid-item
            this
            image_ratio=../theme_settings.product_grid_image_ratio
            default_image=../theme_settings.default-product-image
            quick_shop=../theme_settings.quick-shop
            as_low_as=../theme_settings.price_as_low_as
          }}
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="tabs-content-panel" id="best-sellers">
      stuff
    </div>
  </div>
</section>
