<div class="product-images-container">
  <div class="product-images-loader">
    <svg class="icon icon-spinner"><use xlink:href="#icon-spinner" /></svg>
  </div>

  <div class="product-slides-container">
    <div class="product-slides-wrap">
      {{#if images}}
        {{#each images}}
          <a class="product-image" style="background-image:url({{getImage this 'zoom'}});" href="{{getImage this 'zoom'}}" data-product-image>
            <img src="{{getImage this 'product'}}" alt="{{alt}}">
          </a>
        {{/each}}
      {{else}}
        <img src="{{getImage this 'product' (cdn default_image)}}" alt="{{alt}}">
      {{/if}}
    </div>
  </div>

  <div class="product-images-pagination">
    {{#each images}}
      <div class="pagination-item">
        <img src="{{getImage this 'small-thumb'}}" alt="{{this.alt}}">
      </div>
    {{/each}}
  </div>
</div>
