{{!--
  Product Grid Item - As displayed within a grid listing of products.

  @param product object
    The product object to display, handed over from the loop

  @param show_compare bool
    Whether to show "compare" checkboxes

  @param not_lazy bool
    Do not lazy load the images

  @param quick_shop theme-setting
    Theme setting to enable / disable quickshop

  @param image_ratio theme-setting
    The image ratio for this grid

  @param default theme-setting
    The default image if none exists

  @param show_rating platform-setting
    Platform setting to toggle ratings

  @param as_low_as theme-setting
    The setting to show/hide as low as price wording
--}}

<article class="product-list-item product-block" data-product-title="{{name}}" data-product-id="{{id}}">
  <div class="product-thumb-wrapper">
    <figure class="product-item-thumbnail">
      {{#if price.saved}}
        <div class="product-badge">{{lang 'product.sale'}}</div>
      {{/if}}
      {{#if out_of_stock_message}}
        <div class="product-badge sold-out"><span class="message">{{out_of_stock_message}}</span></div>
      {{/if}}
      {{> components/common/image
        img=image
        url=false
        size="thumb"
        default=default
        image_ratio=image_ratio
        not_lazy=not_lazy
      }}
    </figure>
  </div>

  <div class="product-item-details">
    {{#if brand.name}}
      <div class="product-item-brand">{{brand.name}}</div>
    {{/if}}
    <h5 class="product-item-title">
      <a href="{{url}}" alt="{{name}}">{{name}}</a>
    </h5>

    {{#if show_rating}}
      <p class="product-item-rating">
        <span class="rating-title">{{rating}} {{lang 'product.stars'}}</span>
        {{> components/products/ratings rating=rating}}
      </p>

      {{{snippet 'product_rating'}}}
    {{/if}}

    <div class="product-description">
      {{{summary}}}
    </div>
  </div>

  <div class="product-item-actions">
    <div class="product-item-price" data-product-price="{{price.without_tax.formatted}}">
      {{> components/products/price
        price=price
        as_low_as=as_low_as
      }}
    </div>

    {{#if quick_shop}}
      <button class="button button-secondary button-short button-wide" data-quick-shop data-product-id="{{id}}">
        {{lang 'product.quick_view'}}
      </button>
    {{/if}}

    {{#if show_compare}}
      <label class="button button-short button-wide form-label product-item-compare" for="compare-{{id}}">
        {{> components/common/compare-checkbox}}
        <span class="form-label-text">
          {{lang "product.compare"}}
          <svg class="icon icon-check-mark"><use xlink:href="#icon-check-mark" /></svg>
        </span>
      </label>
    {{/if}}
  </div>
</article>
